* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: darkslategray;
  color: white;
}

h1 {
  text-transform: uppercase;
}

#board {
  width: 300px;
  height: 300px;
  flex-wrap: wrap;
  margin: 0 auto 2rem auto;
  background-color: white;
  display: none;
}

#board.active {
  display: flex;
}

.cell {
  position: relative;
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.player-1:before,
.player-2:before,
.player-2:after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
}

.player-1:before {
  top: 15px;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  border: 10px solid black;
}

.player-2:before,
.player-2:after {
  top: 45px;
  width: 70px;
  height: 10px;
  background-color: black;
}

.player-2:before {
  transform: rotate(45deg);
}
.player-2:after {
  transform: rotate(-45deg);
}

.message {
  width: 300px;
  padding: 1rem;
  margin: 0 auto;
  border: 5px solid white;
  margin-bottom: 2rem;
}

.start-button {
  width: 300px;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #0fa;
  text-transform: uppercase;
  font-weight: bolder;
}
